.root {
  color: var(--color-black, #333);
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  background: rgba(19, 29, 59, 1);

  padding: 2rem 0;
}

.gradient {
  background: radial-gradient(160.32% 486.03% at -41.58% 122.37%, #131d3b 4.66%, #005180 54.69%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.items {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
  padding: 0;
}

.item {
  @nest & > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 0.5rem;
    @nest &[data-is-active='true'] {
      font-weight: bold;
    }
  }
}

.text {
  text-align: center;

  @nest & p {
    margin: 1rem 0;
  }

  @nest & a {
    color: inherit;
  }
}
