.root {
  color: var(--color-black, #333);
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  background: rgba(19, 29, 59, 1);

  padding: 2rem 0;
}

.gradient {
  background: rgb(19, 29, 59);
  background: linear-gradient(
    56deg,
    rgba(19, 29, 59, 1) 0%,
    rgba(0, 81, 128, 1) 48%,
    rgba(96, 170, 181, 1) 100%
  );
}

.items {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
  padding: 0;
}

.item {
  @nest & > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 0.5rem;
    @nest &[data-is-active='true'] {
      font-weight: bold;
    }
  }
}

.text {
  text-align: center;

  @nest & p {
    margin: 1rem 0;
  }

  @nest & a {
    color: inherit;
  }
}
